---	
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="cdev">
    <p>катя немного попукивает</p>
</MainLayout>

<style>
    p {
        font-size: 10em;
        overflow-wrap: break-word;
    }
</style>