<nav class="bg-navbar px-2 sm:px-4 py-2 w-full z-20 top-0 left-0 mx-auto shadow-lg font-['Montserrat']">
    <div class="container flex flex-wrap justify-center items-center mx-auto">

    <div class="flex md:order-2">
        <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center text-sm text-gray-500 rounded-lg md:hidden focus:outline-none focus:ring-2" aria-controls="navbar-sticky" aria-expanded="false">
          <div class=""><img src="/assets/logo.png" class="h-8 py-0.5 px-1 border-y-2 rounded-md sm:h-9" alt="Logo"></div>
        </button>
    </div>
    <div class="hidden justify-center items-center w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul class="flex flex-col p-2 mt-2 md:flex-row md:space-x-8 md:mt-0 md:text-lg md:font-medium md:border-0 items-center dark:bg-gray-800">
        <li>
          <a href="/" class="transition ease-in-out block py-2 pr-4 pl-3 rounded text-gray-500 hover:text-gray-300 md:bg-transparent md:textslate-50  md:p-0 text-center" aria-current="page">Проект</a>
        </li>
        <a href="#" class="md:flex items-center hidden">

          <div class=""><img src="/assets/main-logo-red.png" class="h-6 sm:h-9" alt="Logo"></div>
          <span class="self-center text-xl font-semibold whitespace-nowrap "></span>
      </a>
        <li>
          <a href="/about/" class="block py-2 pr-4 pl-3 text-gray-500 hover:text-gray-300 rounded  md:hover:bg-transparent md:p-0 text-center">Команда</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>